
/*
base:http://dacdevs.com/;
*7
/*Vavbar logo*/

.navbar{
  background: none;
 
} 

.navbar-brand {
  padding: 0px;
}
.navbar-fixed-top{
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px  5px #999;
  -webkit-box-shadow: 1px 1px  5px #999;
  -moz-box-shadow: 1px 1px  5px #999;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.bordes{
	border:solid 1px #E6E6E6;
}
.jumbotron{
	margin: 0 auto;
	background-color: white;
}
.delete-pading{
	padding: 0px;
	}
.contenedor {
  margin: auto;
  display: table;
  background: none;
 
}
/*Efecto maquina escribir*/
/*
h1 { 
  font-family: monospace !important; 
  position: relative; 
  float: left;
  background: none;
  color: rgb(14, 3, 3);
  font-size: 2.5em;

}
h1 span {
    position:absolute;
    right:0;
    width:0;
    background: white;
    border-left: 3px solid #000;
    animation: escribir 20s steps(37) infinite alternate;
}
*/
 


@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
/*Fin efecto maquina escribir*/
/*Tiempos de animacion*/

.fast {
     animation-duration: 1s;
     animation-delay: 0s;
}
.slow {
     animation-duration: 3s;
     animation-delay: 1s;
}
.reallyslow {
     animation-duration: 4s;
     animation-delay: 2s;
}
body{
  background-color: none;
  height: 2000px;
}
#cabesera1{
              position: absolute; 
              margin-top: auto;
              margin-bottom: auto;
              margin-left: auto;
              margin-right: auto;
              top: 0;
              bottom:0;
              left: 0;
              right:0; 
              background: none; 
              height: 80px;
}
#contenedor-info{
  border:solid 1px #E6E6E6; 
  border-left: none; 
  border-right: none;
   border-bottom: none; 
   height: 120px; 
   position: relative;
   background: none;
}
.divisor{
  background-image: url("../img/divisor.png") ;
  background-repeat: no-repeat; 
  height: 75px;
  margin:0 auto;
}